@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:wght@300;400;500;600;700&display=swap");

body {
  font-family: Arial, sans-serif;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Lato, sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

ul,
ol {
  list-style: none;
}

/* HomePage */

.nav-home {
}
.home-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #786f52;
  color: aliceblue;
  justify-content: center;
}
.home-header ul {
  padding-top: 50px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.home-header li {
  display: flex;

  width: 250px;
  height: 50px;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
a {
  text-decoration: none;
}
.home-header h1 {
  margin: 100px;
  font-size: 3.5rem;
  text-align: center;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
}
.home-header a:hover {
  transform: translateY(-3px);
  background-color: #c2095a;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.home-header a {
  display: inline-block;
  width: 250px;
  height: 50px;
  text-align: center;
  padding: 10px 0;
  background-color: #feb95f;
  border-radius: 6px;
  transition: 0.2s ease-in;
  color: aliceblue;
}
.homepage-logo {
  border-radius: 200px;
  width: 300px;
  height: 300px;
  opacity: 0.5;
}
.homepage-logo:hover {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.logo {
  padding-right: 100px;
  border-radius: 200px;
}

/* CourseProgram*/
.program-header {
  position: fixed;
  right: 0.0001px;
  width: 2120px;
  display: flex;
  flex-direction: row;
  height: 100px;
  background-color: #090446;
  color: aliceblue;
  justify-content: end;
  align-items: center;
  z-index: 1;
}
.program-header h1 {
  font-size: 3.5rem;
}
.program-header a {
  display: inline-block;
  width: 150px;
  height: 50px;
  text-align: center;
  padding: 10px 0;
  background-color: #feb95f;
  border-radius: 6px;
  transition: 0.2s ease-in;
  color: aliceblue;
}
.program-header ul {
  display: flex;
  padding-right: 20px;
  align-items: center;
  text-align: center;
}
.force-div h2 {
  font-size: 2.5rem;
}
.program-div {
  position: relative;
  right: 1000px;
}
.program-header a:hover {
  transform: translateY(-3px);
  background-color: #c2095a;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.main-program {
  display: grid;
  grid-template-rows: repeat(4, 600px);
  grid-template-columns: repeat(2, 800px);
  align-items: center;
  justify-content: center;
  gap: 100px;
  background-color: #786f52;
  color: #f2f2f2;
}
.main-program p {
  font-size: 1.5rem;
}
.program-pic {
  padding-top: 100px;
  width: 500px;
  padding-left: 100px;
}
.night-stalkers {
  width: 500px;
}
.program-header li {
  font-size: 1.5rem;
}
.middle-container {
}
.army-ranger {
  width: 500px;
}
.army-ranger-div h2 {
  font-size: 2.5rem;
}
.army-ranger-div {
  padding-left: 50px;
}
.force-div {
  padding-right: 300px;
}
.green-beret {
  width: 500px;
  padding-left: 100px;
}
.green-beret-div h2 {
  font-size: 2.5rem;
}
.night-stalkers-div h2 {
  font-size: 2.5rem;
}
.position {
  position: absolute;
  top: 600px;
  left: 600px;
}
.position h2 {
  font-size: 4rem;
}
.back-homepage-program {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  transform: translateY(-3px);
  background-color: #feb95f;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 150px;
}
/* Form */
.form-body {
  background-color: #786f52;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  transform: translateY(-3px);
  background-color: #c2095a;
  color: white;
  padding: 12px 20px;
  width: 100px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #f71735;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.back-homepage {
  color: #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #090446;
  height: 35px;
  width: 110px;
  border-radius: 5px;
  margin-left: 2px;
  margin-top: 290px;
}

/* About us Page */

.about-header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f2f2f2;
  height: 800px;
  background-image: url("../assets/D_AboutTheArmy.webp");
}
.about-header h1 {
  font-size: 3.5rem;
}
.about-main p {
  font-size: 1.5rem;
}
.about-main {
  padding-top: 30px;
  text-align: center;
  background-color: #786f52;
}
.about-pic {
  padding-top: 50px;
  width: 500px;
}
.about-div li {
  font-size: 1.5rem;
  text-align: center;
}
.back-homepage-about {
  position: absolute;
  left: 1750px;
  top: 2px;
  transform: translateY(-3px);
  background-color: #feb95f;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.back-homepage-about:hover {
  background-color: #f71735;
}
/* Contact Us */
input:focus ~ label,
textarea:focus ~ label,
input:valid ~ label,
textarea:valid ~ label {
  font-size: 0.75em;
  color: #999;
  top: -5px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}

.styled-input {
  float: left;
  width: 293px;
  margin: 1rem 0;
  position: relative;
  border-radius: 4px;
}

@media only screen and (max-width: 768px) {
  .styled-input {
    width: 100%;
  }
}

.styled-input label {
  color: #999;
  padding: 1.3rem 30px 1rem 30px;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
}

.styled-input.wide {
  width: 650px;
  max-width: 100%;
}

input,
textarea {
  padding: 30px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  background-color: #2d2d2d;
  color: white;
  border-radius: 4px;
}

input:focus,
textarea:focus {
  outline: 0;
}

input:focus ~ span,
textarea:focus ~ span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}

textarea {
  width: 100%;
  min-height: 15em;
}

.input-container {
  width: 650px;
  max-width: 100%;
  margin: 20px auto 25px auto;
}

.submit-btn {
  float: right;
  padding: 7px 35px;
  border-radius: 60px;
  display: inline-block;
  background-color: #4b8cfb;
  color: white;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 2px 10px 0 rgba(0, 0, 0, 0.07);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.submit-btn:hover {
  transform: translateY(1px);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.09);
}

@media (max-width: 768px) {
  .submit-btn {
    width: 100%;
    float: none;
    text-align: center;
  }
}

input[type="checkbox"] + label {
  color: #ccc;
  font-style: italic;
}

input[type="checkbox"]:checked + label {
  color: #f00;
  font-style: normal;
}
.contact-body {
  background-color: #444442;
  padding-top: 85px;
}
.row h1 {
  font-size: 72px;
  color: white;
  text-align: center;
}
.row h4 {
  font-size: 20px;
  color: #9b9b9b;
  line-height: 1.5;
}
.row {
  background-color: #444442;
}
.container {
  background-color: #444442;
}
.back-homepage-contact {
  position: absolute;
  left: 1750px;
  bottom: 2px;
  transform: translateY(-3px);
  background-color: #feb95f;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
